# Ignore node modules
**/node_modules

# Git
.git
.gitignore

# dev container
.devcontainer

# Python/Django
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Misc. & OS files
*.DS_STORE
IGNORE
