asgiref==3.8.1
Django==5.1.3
django-cors-headers==4.6.0
django-filter==24.3
django-rest-knox==5.0.2
djangorestframework==3.15.2
djecrety==1.0.17
drf-nested-routers==0.94.1
et_xmlfile==2.0.0
mimesis==18.0.0
mysql-connector-python==9.1.0
numpy==2.1.3
openpyxl==3.1.5
pandas==2.2.3
psycopg==3.2.3
pyjson5==1.6.7
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
